{% extends 'base.html.twig' %}

{% block title %}Table de {{ n }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Table de {{ n }} :</h1>
    <hr/>

    <table>
        {% if limit == 0 %}
            {% for i in range(0, 10) %}
                <tr><td>{{ i }}</td><td> x </td><td>{{ n }}</td><td>= {{i*n}}</td></tr>
            {% endfor %}
        {% else %}
            {% for i in range(0, limit) %}
                <tr><td>{{ i }}</td><td> x </td><td>{{ n }}</td><td>= {{i*n}}</td></tr>
            {% endfor %}
        {% endif %} 
    </table>
    
</div>
{% endblock %}
