{% extends 'base.html.twig' %}

{% block title %}Select Table{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Localhost</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/select">Select<span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
</nav>

<div class="example-wrapper">
    <h1>Select :</h1>
    {# {{ form(formulaire) }} #}

    {{ form_start(formulaire) }}
    {{ form_widget(formulaire.table_number, {'value' : 1}) }}
    {{ form_widget(formulaire.table_limit, {'value' : 10}) }}
    {{ form_widget(formulaire.choisir) }}
    {{ form_end(formulaire) }}
</div>
{% endblock %}
